
$dark-bg:rgba(34, 34, 34, 1);
$grey-bg: rgba(248, 248, 248, 1);
$white-bg: rgba(255, 255, 255, 1);
$grey-txt: rgba(17, 17, 17, 0.6);
$black-txt: rgba(34, 34, 34, 1);
$white-txt: rgba(255, 255, 255, 1);
$white-txt-lighter: rgba(255, 255, 255, 0.7);