@import "../../SCSS/main.scss";

.form {
    padding: 120px 160px;
    @media screen and (max-width: 768px) {
        padding: 70px 30px;
    };
    @media screen and (max-width: 320px) {
        padding: 70px 10px;
    }

    &__container {
        background-color: $grey-bg;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 60px;
        @media screen and (max-width: 768px) {
            padding: 30px 119px;
        }
        @media screen and (max-width: 320px) {
            padding: 20px;
        }

    }

    &__title {
        @include cards_title;
        @media screen and (max-width: 768px) {
            font-size: 26px;
        };
        @media screen and (max-width: 320px) {
            margin-bottom: 20px;
        }
        max-width: 500px;
        margin: 0;
        text-align: center;
    }

    &__subtitle {
        @include small_txt;
        @media screen and (max-width: 768px) {
            font-size: 15px;
        };
        @media screen and (max-width: 320px) {
            margin-bottom: 80px;
        };
        text-align: center;
        margin-bottom: 100px;
    }

    &__area {
        width: 100%;
    }

    &__user-data {
        height: 54px;
        margin-right: 40px;
        width: 70%;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__user-data:nth-child(2) {
        margin: 0;
    }

    &__user-info {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 768px) {
            flex-direction: column;;
        }
    }

    &__message {
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &__user-msg {
        width: 100%;
        height: 130px;
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
            margin-bottom: 50px;
        }
    }

    &__field {
        @include small_txt;
        @media screen and (max-width: 320px) {
            font-size: 12px;
        };
        color: $black-txt;
        border-radius: 8px;
        border: none;
        padding-left: 20px;
        box-sizing: border-box;
    }

    &__field::placeholder {
        color: rgba(17, 17, 17, 0.3);
    }

    &__field:hover {
        cursor: pointer;
        opacity: 0.85;
        outline-style: solid;
        outline-color: rgba(228, 228, 228, 1);
    }

    &__field:focus {
        outline-style: solid;
        outline-color: rgba(228, 228, 228, 1);
    }

    &__button {
        @include small_txt;
        background-color: $dark-bg;
        color: $white-txt;
        padding: 15px 30px;
        border-radius: 8px;
        border: none;
        align-self: end;
        @media screen and (max-width: 768px) {
            width: 100%;
            font-size: 14px;
        };
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }

    &__button:hover {
        cursor: pointer;
        opacity: 0.85;
    }
}
