.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 55px 160px 0 160px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cards {
    padding: 50px 30px 0 30px;
  }
}

.cards__item {
  width: 50%;
  padding: 40px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

@media screen and (max-width: 1024px) {
  .cards__item {
    margin-right: 10px;
    padding: 30px;
  }
}

.cards__item:nth-child(2) {
  margin: 0;
}

.cards__title {
  font-family: 'Inter';
  font-size: 32px;
  font-weight: 600;
  line-height: 1.15;
  color: #222222;
  margin: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .cards__title {
    font-size: 26px;
  }
}

.cards__subtitle {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  color: rgba(255, 255, 255, 0.7);
  color: rgba(17, 17, 17, 0.6);
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .cards__subtitle {
    font-size: 15px;
  }
}

.cards__text {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.6);
}

@media screen and (max-width: 1024px) {
  .cards__text {
    font-size: 15px;
  }
}
