.form {
  padding: 120px 160px;
}

.form__container {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 60px;
}

.form__title {
  font-family: 'Inter';
  font-size: 32px;
  font-weight: 600;
  line-height: 1.15;
  color: #222222;
  width: 500px;
  margin: 0;
  text-align: center;
}

.form__subtitle {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.6);
  text-align: center;
  margin-bottom: 100px;
}

.form__area {
  width: 100%;
}

.form__user-data {
  height: 54px;
  margin-right: 40px;
  width: 430px;
}

.form__user-data:nth-child(2) {
  margin: 0;
}

.form__user-info {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__message {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form__user-msg {
  width: 940px;
  height: 130px;
  margin-bottom: 30px;
}

.form__field {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.6);
  color: #222222;
  border-radius: 8px;
  border: none;
  padding-left: 20px;
}

.form__field::-webkit-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.form__field:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.form__field::-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.form__field::placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.form__field:hover {
  cursor: pointer;
  opacity: 0.85;
  outline-style: solid;
  outline-color: #e4e4e4;
}

.form__field:focus {
  outline-style: solid;
  outline-color: #e4e4e4;
}

.form__button {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.6);
  background-color: #222222;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.form__button:hover {
  cursor: pointer;
  opacity: 0.85;
}
