.text {
  padding: 100px 176px 0 160px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .text {
    padding: 70px 60px 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    padding: 94px 30px 0 30px;
  }
}

.text__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  color: #111111;
}

@media screen and (max-width: 768px) {
  .text__paragraph {
    font-size: 33px;
  }
}

@media screen and (max-width: 768px) {
  .text__paragraph {
    font-size: 26x;
  }
}
