.cover {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 40px;
  padding-left: 170px;
  padding-right: 200px;
  border-radius: 20px;
  background-color: #222222;
  position: relative;
  overflow: visible;
}

.cover_footer {
  height: 410px;
  padding: 60px 0px 60px 220px;
}

.cover_footer::after {
  content: "   ";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 40px;
  background-color: white;
  z-index: 1;
}

.cover__button {
  border-radius: 8px;
  background-color: white;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.15;
  color: #222222;
  margin: 0;
  border: none;
}

.cover__button_footer {
  width: 470px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cover__button_header {
  width: 240px;
  height: 54px;
  padding: 15px 75px;
}

.cover__logo {
  background-image: url("../../../images/logo.svg");
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.cover__title {
  font-family: 'Inter';
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  color: white;
  width: 650px;
  margin: 0;
}

.cover__title_header {
  margin-bottom: 28px;
}

.cover__title_footer {
  margin-bottom: 20px;
}

.cover__text {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  color: rgba(255, 255, 255, 0.7);
  width: 450px;
  margin: 0;
}

.cover__text_header {
  margin-bottom: 108px;
}

.cover__text_footer {
  margin-bottom: 174px;
}

.cover__image {
  width: 311px;
  -webkit-filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
}

.cover__image_footer {
  position: absolute;
  top: -60px;
  right: 220px;
}
